RunList {
    layout: grid;
    min-width: 50;
    padding: 1;
}

RunList DataTable {
    row-span: 9;
    column-span: 10;
    margin: 1 1 1 1;
    height: 95%
}

RunList Input {
    row-span: 1;
    column-span: 9;
}

RunList Button {
    row-span: 1;
    column-span: 1;
    width: 100%;
    margin: 0 1 0 1;
}

RunList #top_bar {
    dock: top;
    width: 100%;
    height: 4;
    padding: 0;
}

RunList Label {
    height: 4;
    padding: 1;
}

RunList Select {
    width: 40;
}

RunDetail #top_bar {
    dock: top;
    width: 100%;
    height: 10%;
    padding: 1;
}

RunDetail #side_bar {
    dock: left;
    width: 15%;
    height: 100%;
    padding: 1;
}

RunDetail #data_panel {
    height: 100%;
    width: 100%;
}
